<!-- todo-form.component.html -->
<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="Name">Name:</label>
      <input type="text" id="Name" formControlName="Name" required />
    </div>
  
    <div class="form-field">
      <label for="Task">Task:</label>
      <input type="text" id="Task" formControlName="Task" required />
    </div>
  
    <div class="form-field">
      <input type="checkbox" id="isCompleted" formControlName="isCompleted" style="margin-top: 0%;" />
      <label for="isCompleted" style="margin-top: 0%;">Completed</label>
    </div>
  
    <button type="submit">Add Todo</button>
  </form>
  
  