
table {
    width: 40%;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .even{
    background-color: teal;
    padding: 4%;
    margin: 2%;
  }

  .odd{
    padding: 4%;
    margin: 2%;
    background-color: orange;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr.odd-row {
    background-color: #f9f9f9; /* Set your desired background color for odd rows */
  }

  .userTaskList{
    width: 100%;
    margin:auto;
  }
  